Repository nextcloud/end_to_end_encryption, pull requests merged in 2023-03, with the labels that each got.

#398 Bump API version in capabilities
  lib/Capabilities.php
  tests/Unit/CapabilitiesTest.php
Labels: 3. to review, enhancement, php

#400 fix: remove lock without mountpoint
  lib/RollbackService.php
  tests/Unit/RollbackServiceTest.php
Labels: 3. to review, bug

#406 Bump API version to 1.2
  lib/Capabilities.php
  tests/Unit/CapabilitiesTest.php
Labels: 3. to review, backport-request, enhancement, php

#408 [stable25] Bump API version to 1.2
  lib/Capabilities.php
  tests/Unit/CapabilitiesTest.php
Labels: 3. to review, enhancement, php
